@import url(global.css);

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
}

.formTextArea {
  margin-top: -5px;
  font-size: 16px;
  font-family: fantasy;
}

#form-question-counter {
  font-size: 16px;
  margin-left: 180px;
  margin-top: 5px;
}

#form-answer-counter {
  font-size: 16px;
  margin-left: 180px;
  margin-top: 5px;
}

#form-tag {
  width: 300px;
  font-size: 16px;
  font-family: fantasy;
}

.form-button {
  padding: 5px 60px;
  margin-top: 24px;
  font-family: fantasy;
  background-color: aqua;
  font-size: 22px;
}

.card-container {
  margin-bottom: 90px;
}

.footer-home {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-bookmark {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-form {
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  background-color: burlywood;
}

.footer-profile {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
