@import url(global.css);

.card__question-card {
  background-color: bisque;
  border-radius: 10px;
  padding: 1% 1%;
  margin: 5%;
  height: 300px;
  text-align: center;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__bookmark-image {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5px;
  right: 15px;
}

.card__answer-button {
  background-color: aqua;
  font-size: 28px;
  padding: 3px 3px;
  margin: -20px 110px;
  font-family: fantasy;
  display: flex;
  justify-content: center;
}

.card__tag-categories {
  top: 240px;
  margin: 15px -15px;
  padding: 5px 15px;
  width: 15px;
  font-size: 16px;
  display: flex;
  position: absolute;
}

.card__tag {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: 5px;
  background-color: aquamarine;
  padding: 1px 1px;
}

.footer-emptyspace {
  background-color: white;
  height: 25px;
  margin: 60px;
  display: flex;
  align-content: center;
  text-emphasis-color: white;
}

.footer-home {
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  background-color: burlywood;
}

.footer-bookmark {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-form {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-profile {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
