@import url(global.css);

.header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 96%;
  font-family: fantasy;
  background-color: aqua;
  text-align: center;
  font-size: 32px;
  border-radius: 5px;
}

.app__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
}

.app__profile-image {
  border-radius: 50%;
  height: 180px;
  width: 140px;
}

.app__profile-counter {
  margin: 10% 10%;
  display: flex;
  justify-content: space-around;
}

.app__profile-counter {
  background-color: aquamarine;
  border: black solid;
  border-radius: 10%;
  font-size: 24px;
  width: 140px;
  height: 140px;
}

.app__profile-counter-image {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.app__profile-counter-bookmark {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.footer {
  width: 96%;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-home {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-bookmark {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-form {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-profile {
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  background-color: burlywood;
}
