main {
  margin-top: 20%;
  font-family: fantasy;
}

.app--title {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 96%;
  font-family: fantasy;
  background-color: aqua;
  text-align: center;
  font-size: 32px;
  border-radius: 5px;
}

.app--question-card {
  background-color: bisque;
  border-radius: 10px;
  margin: 5%;
  height: 300px;
  text-align: center;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app--bookmark-image {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5px;
  right: 15px;
}

.app--answer-button {
  background-color: aqua;
  font-size: 28px;
  padding: 1% 1%;
  margin: -5% 20%;
  font-family: fantasy;
  display: flex;
  justify-content: center;
}

.app--tag-categories {
  top: 80%;
  margin: 5% -5%;
  padding: 1% 5%;
  width: 5%;
  font-size: 16px;
  display: flex;
  position: absolute;
}

.app--tag {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: 10%;
  background-color: aquamarine;
  padding: 3% 3%;
}

.app--navbar-emptyspace {
  background-color: white;
  height: 30%;
  margin: 60px;
  display: flex;
  align-content: center;
  text-emphasis-color: white;
}

.app--navbar-section {
  width: 96%;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app--navbar-home {
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  background-color: burlywood;
}

.app--navbar-bookmark {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.app--navbar-profile {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
